@import 'sass-mq';
.holditemsdisplay-wrapper {
	background-color: #D0F0C0;

	.header-section {
		border-bottom: 3px solid black;
		display: table;
		height: 80px;
		
		.title-container {
			width: 45%;
			text-align: left;
			
			.title {
				float:left;
				margin-left: 30px;
			}
		}

		.qty-container {
			width: 30%;
			text-align: left;
		}

		div {
			vertical-align: middle;
			display: table-cell; 

			button[type="button"] {
				float: right;
				margin-right: 30px;
			}
		}		
	}

	.main-section {
		.scroll-container {
			display:block;
			width: 100%;
			border-bottom: 5px solid black;
			
			table {
				.sm-width {
					padding:0;
				}

				.btns,.bg-width {
					padding: 0 10px;
				}

				td {
					border: 2px solid black;
					vertical-align: middle;
					text-align: center;
					
					&:last-child {
							width: 10%;
					}

					button {
						width: 80px;
						margin: 5px;
					}
				}

				thead {
					border: 3px solid black;
					border-top: 0;
					font-weight: 900;
					text-align: center;

					td {
						vertical-align: bottom;
						
						&.verticalMiddle {
							vertical-align: middle;
						}
					}
				}

				.number {
					width: 5%;
				}

				.name {
					width: 15%;
				}
			}
		}
	}

	@include mq($until: desktop) {
		.header-section {
			h3 {
				font-size: 20px;
			}
		}
		.main-section {
			.scroll-container {
				table {
					td {
						padding: 10px 0;
						font-size: 1.5vw;
						
						button {
							width: 50px;
							height: 25px;
							font-size: 10px;
							padding: 0;
						}
					}
				}
				.bg-width {
					padding: 0 5px;
				}

			}
		}
	}
}