.inventoryitemdisplay-wrapper {
	background-color: lightyellow;
	.header-section {
		border-bottom: 3px solid black;
		display: table;
		height: 80px;

		.title {
			float:left;
			margin-left: 30px;
		}
		div {
			vertical-align: middle;
			display: table-cell; 
		}	
	}
	
	.main-section {
		.items-table {
			.number {
				width: 80px;
			}

			.btns,.name {
				width: 250px;
			}

			td {
				border: 2px solid black;
				vertical-align: middle;
			}

			thead {
				font-weight: 900;
				border-top: 4px solid black;
				border-bottom: 4px solid black;
				
			}
			

			tbody {
				.hold-highlight {
					background-color: #D0F0C0; 
				}

				.hightLighYellow {
					background-color: #FDD023;
				}

				.hightLighBlue {
					background-color: #93CCEA;
				}

				p {
					margin: 0;
				}
	
				input[type="number"], .shelf_no {
					text-align: center;
					width: 50px;
				}

				input[type="date"] {
					text-align: center;
				}
				
				input[type="checkbox"] {
					width: 50px;
					height: 40px
				}
				
				button[type="button"] {
					margin: 0 10px;
				}

				.btn-danger {
					margin: 0 10px;
				}

				.hold-functional-Btns {
					input {
						margin: 5px;
					}
				}
			}

		}
	}

}