@import 'sass-mq';

.inventorymain-wrapper {
	.invtory-viewable {
		margin-bottom: 120px; 

		.category-wrappr {
			.header-section {
				border-bottom: 3px solid black;
				display: table;
				height: 80px;

				.title-container {
						width: 45%;
						text-align: left;

					.title {
						float:left;
						margin-left: 30px;
					}
				}

				.qty-container {
					width: 30%;
					text-align: left;
				}
			
				div {
					vertical-align: middle;
					display: table-cell; 
				

					input[type="date"] {
						margin: 5px;
						height: 50px;
						text-align: center;
					}
				}

				div {
					button[type="button"] {
						float: right;
						margin-right: 30px;
					}
				}
			}
		
			.main-section {
				.items-table {
					&.table {
						margin: 0;
					}

					td {
						border: 2px solid black;
						vertical-align: middle;
					}

					thead {
						font-weight: 900;
						border-top: 4px solid black;
						border-bottom: 4px solid black;
						text-align: center;
						
						td {
							vertical-align: bottom;
							
							&.verticalMiddle {
								vertical-align: middle;
							}

							button {
								width: 50px;
							}
						}

					}
					

					tbody {

						.hold-highlight {
							background-color: #D0F0C0; 
						}

						.STTW {
							background-color: #FDD023;
						}

						.STUS,.STSC {
							background-color: #93CCEA;
						}
						
						.about-expired {
							background-color: pink;
						}

						.expired-date {
							background-color: red;
						}

						td {
							text-align: center;					
						}

						p {
							margin: 0;
						}
						
						input {
							width: 80%;
							text-align: center;
						}

					
						button[type="button"] {
							margin:2px 10px;
						}

						.btn-danger {
							margin: 0 10px;
						}

						.hold-functional-Btns {
							input {
								margin: 5px;
							}
						}
					}

				}
			}
			
			@include mq($until: desktop) {
		       .header-section {
					h3 {
						font-size: 20px;
					}
				}

				.main-section {
					.items-table{
				       
						.bg-width {
							padding: 0 5px;
						}
						
						.bbg-width {
							padding: 0 5px;
							width: 10%;
						}

						td {
							font-size: 1.5vw;
							padding: 10px 0;

							button {
								font-size: 10px;
								width: 50px;
							}

							input {
								width: 100%;
								margin: 0;
							}

							.md-input {
								width: 50px;
							}
							
							.sm-input {
								width: 30px;
							}

							.ss-input {
								width: 20px;
							}
						}
					}
				}
    		}

		}
	}
}
