.precursorControlPanel-wrapper {
	margin-top: 50px;
	
	.main-section {
		.precursorPanel-display {
			width: 80%;
			height:200px;
			border-radius: 25px;
			margin: 0 auto;
			padding: 15px;
			overflow-y: scroll;
			background-color: cornsilk;
			border: 2px solid black;

			.precursors {
				display: inline-block;
				margin: 5px;
				padding: 5px;
				border-radius: 25px;
				font-size: 20px;
				background-color: greenyellow;
			
				&:hover,&.clicked {
					cursor: pointer;
					background-color: green;
					color: white;
				}
			}
		}

		.precursorPanel-wrapper {
			width: 80%;
			text-align: center;
			margin-top: 25px;
			label {
				font-weight: 900;
				font-size: 24px;
				margin-right: 20px;
			}

			.btn {
				margin: 0 5px;
			}
		}	
	}
}