.bulkItemImporter-wrapper {
	height: 35px;
	.result-container {

		&::before{
			content: ' ';
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: black;	
			opacity: .1;
			z-index: -1;
			
		}

		&{	
			border:5px solid black;
			box-shadow: 5px 5px gray;
			border-radius: 10px;
			position: fixed;
			width: 80%;
			height: 80%;
			top: 10%;
			left: 10%;
			background-color: white;
			opacity: 1;
			z-index: 1;
			overflow-y:scroll;
			
			.item-info{
				h1 {
					text-align: center;

					span {
						font-weight: 900;
						color: green;
					}
				}

				table {
					width: 95%;
					margin: 0 auto;
					
					td {
						vertical-align: middle;
						text-align: center;
						border:2px solid black;
						padding: 5px;
					}

					td::first-child {
						width: 5%;
					}

					thead {
						td {
							font-size: 26px;
							font-weight: 900;
						}
					}
				}
				.btns-container {
					text-align: center;
					
					button {
						margin: 10px;
						width: 30%;
					}
				}
			}
		}
		
		.close-btn {
			position: fixed;
			top:10%;
			right: 11%;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			span {
				width: 100%;
				color: black;
				font-size: 30px;

			}
		}
	}
}