.checkoutMain-wrapper {

	.main-section {
		.completed-container {
			background-color: green;
			padding: 0;

		}

		.ongoing-container {
			background-color: yellow;
			padding: 0;

			.notification-container{
				background-color: pink;
				.notification-head {
					border: 5px solid black;
					margin: 0 auto;
				}
				.notification-main {
					border: 2px solid black;
					text-align: center;
					height: 150px;
					overflow-y:scroll;
					
					.row {
						margin: 0;
						border-bottom: 1px solid lightgray;
					}

					h2 {
						margin: 0 auto;
					}
				}
			}
		

		}
		
		

		.subContinaer-head {
			h3 {
				border: 5px solid black;
				margin: 0;
				font-size: 30px;
				padding:10px 0;
			}
		}

		.subContinaer-main {
			height: 195%;
			display: block;
			border: 5px solid black;
			overflow-y:scroll;
			

			table {
				width: 100%;
				td {
					border: 2px solid black;
					text-align: center;
					padding: 10px 0;
				}
				thead {
					font-weight: 900;
				}
				tbody {
				//	font-size: 20px;

				}
			}
		}
	}
}