@import 'sass-mq';
.checkoutMain-wrapper {
	.row {
		margin: 0;
	}

	.main-section {
		padding: 0;

		.notification-container{
			background-color: pink;
			width: 100%;
			
			.notification-head {
				border: 5px solid black;
			}
			
			.notification-main {
				border: 5px solid black;
				text-align: center;
				height: 150px;
				overflow-y:scroll;
					
				.row {
					border-bottom: 1px solid lightgray;
				}

				h2 {
					margin: 0 auto;
				}
			}
		}

	
		.completed-container {
			background-color: lightgreen;
			
			.subContainer-main {
				background-color: lightgreen;
			}
		}

		.ongoing-container {
			background-color: lightyellow;

			.subContainer-main {
				background-color: lightyellow;
			}
		}
			

		
		.ongoing-container,.completed-container {
			padding: 0;

			.notification-container{
				background-color: pink;
				.notification-head {
					border: 5px solid black;
					margin: 0 auto;
				}
				.notification-main {
					border: 2px solid black;
					text-align: center;
					height: 150px;
					overflow-y:scroll;
					
					.row {
						margin: 0;
						border-bottom: 1px solid lightgray;
					}

					h2 {
						margin: 0 auto;
					}
				}
			}
		

		}
		
		

		.subContainer-head {
			border: 5px solid black;
			text-align: center;
			h3 {
				margin: 0;
				font-size: 30px;
				padding:10px 0;
			}

			.search-container {
			
				h4,input[type="text"]{
					margin: 15px 0;
					padding: 0 5px;
					height: 35px;
					display: inline-block;
				}
			}
		}

		.subContainer-main {
			height: 195%;
			display: block;
			border: 5px solid black;
			overflow-y:scroll;
			

			table {
				width: 100%;
				td {
					border: 2px solid black;
					text-align: center;
					padding: 10px 0;
				}
				thead {
					font-weight: 900;
					
					button {
						width: 50px;
					}
				}
				
			}
		}
	}

	// @include mq($until: desktop) {
	// 	.main-section {
	// 		.notification-container {
	// 			.notification-head {
	// 				h2 {
	// 					font-size: 26px;
	// 				}
	// 			}
	// 		}

	// 		.notification-main {
	// 			h2 {
	// 				font-size: 20px;
	// 			}
	// 		}
	// 	}
	// }
}