@import 'sass-mq';

.addItem-wrapper {
	width: 100%;

	.main-function.addItem-input-container {
		label,input,select,button {
			margin: 3px;
			height: 35px;
		}
	
		button {
			margin-top: 0;
		}

		#addShelf {
			width: 35px;
		}
		
		#addQty {
			width: 50px;
		}
	
		#addGram {
			width: 50px;
		}	
	}

	@include mq($until: desktop) {
		.main-function.addItem-input-container {
			label {
				width: 5%;
				margin: 0;
				font-size: 14px;
			}

			input,select {
				width: 6%;
				margin: 0;
				font-size: 14px;
			}

		}
	}
}