.register-wrapper {
	
	.header-section {
		
	}

	.main-section {
		text-align: center;
		width: 50%;
		margin: 0 auto;
		
		.register-panel {
			margin-top: 50px;


			.block {
				margin-top: 20px;

				label {
					font-size: 24px;
				}

				.inputField {
					width: 300px;
				}

				.btn {
					background-color: green;
					border-radius: 25px;
					color: white;
					font-size: 24px;
				}

			}

			
		}
	}
}