@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import 'sass-mq';

$bloodyRed: #962E3D;


.header-wrapper {
	border-bottom: 8px solid black;
	height: 90px;


	header {
		text-align: left;
		
		h1{
			display: inline-block;
			float:left;
			font-family: 'Great Vibes', cursive;
			font-size: 50px;

			&:hover {
				transition: .2s ;
				transform: scale(1.1);
				padding-left: 2%;
			}
			
			a {
				color: $bloodyRed;
				text-decoration: none;
				img {
					height: 75px;
				}
			}
		}

		ul {
			display:inline-block;
			float:right;		
		
			li {
				display: inline-block;
				margin: 15px;
				
				&:hover {
					transition: .2s ;
					transform: scale(1.2);
				}

				a {
					text-decoration: none;
					font-size: 15px;
					margin: 15px;
					margin-top: 30px;
					color: $bloodyRed;
				}


				.header-nav-active {
					font-weight: bold;
					font-size: 20px;
				}
			}
		}
	}
	
	@include mq($until: desktop) {
		& {
			height: 160px;

			h1 {
				font-size: 40px;
				padding: 10px;
				width: 100%;
				margin: 0 ;
				text-align: center;
			}

			ul {
				width: 100%;
				padding: 0;
				text-align: center;

				li {
					padding: 0 5px;
				}
			}
		}
	}

}
