@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.header-wrapper {
	//background-color: #fffff2;
	border-bottom: 8px solid black;
	height: 60px;
	position: sticky;


	header {
		text-align: left;
		
		h1{
			display: inline-block;
			float:left;
			color: black;
			font-family: 'Great Vibes', cursive;
		}

		ul {
			display:inline-block;
			float:right;		
		
			li {
				display: inline-block;
				margin: 15px;


				a {
					font-size: 15px;
					margin: 15px;
					margin-top: 30px;
				}


				.header-nav-active {
					font-weight: bold;
					font-size: 20px;
				}
			}
		}
	}


}
