.pickupOrderDetail-wrapper {
	
	.head-section {
		background-color: lightblue;
		border: 3px solid gray;
		height: 100px;

		.order-info {
			width: 100%;
			text-align: center;
		}
	}

	.main-section {
		margin: 15px 0;

		.header-container {
			border-bottom: 5px solid black;
			div {
				text-align: center;
			}

		}

		.item-container {
			border-bottom: 2px solid black;
			padding-top: 50px;

			&.itemChecked {
				background-color: lightgreen;
			}

			div {
				text-align: center;

				input[type="checkbox"] {
					width: 80px;
					height: 80px;
				}
			}

			.pickupItem-container {
				padding-bottom: 15px;
				
				.tablet-warning {
					background-color: red;
					border-radius: 25px;
				}
			}
		}


		.notes-container {
			background-color: lightyellow;
			border: 2px solid black;
			height: 130px;
			width: 95%;
			margin-top: 30px;

			&.first-note {
				.note-header {
					background-color: red;
				}
			}

			.note-header {
				background-color: lightblue;
				border-bottom: 2px solid black;
				text-align: center;
				height: 30%;

			}

			.note-content {
				height: 70%;
				padding-left: 2%;
				padding-right: 2%;
				overflow-y: scroll;
			}
		}
	}
}