.account-wrapper {
	.header-section {
		width: 100%;

		.nav-bar {
			border-top: 2px solid lightgray;
			border-bottom: 2px solid lightgray;
			li {
				display: inline-block;
				margin: 10px 20px;

				a {
					font-size: 20px;
				}
			}
		}
	}

}