.block {
  display: block;
}

.inline-b {
  display:inline-block;
}

.header-section {
	width: 100%;
	text-align: center;
}

.warning-status {
	color: red;
}

.success-status {
	color: green;
}

.display-none {
	display: none;
}
.text-center {
	text-align: center;
}