.block {
  display: block;
}

.inline-b {
  display:inline-block;
}

.inline-f {
	display: inline-flex;
}

.table {
	display: table;
}

.header-section {
	width: 100%;
	text-align: center;
}

.warning-status {
	color: red;
}

.success-status {
	color: green;
}

.display-none {
	display: none;
}


.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.margin-center {
	margin: 0 auto;
}

.disabled {
	cursor: not-allowed;
	pointer-events: none;
}